langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-classic
volcengine-python-sdk
chromadb
loguru
streamlit
python-dotenv
modelscope
sentence-transformers
pypdf
docx2txt
unstructured
openpyxl
python-pptx